/target
/API_modele/utils/__pycache__/
*.pyc
*.jar
*.log
*.class
.env
*.iml
.idea/
API_modele/venv/
wildlensApi/src/main/resources/uploads/
API_modele/uploads/
Frentwidlens/package-lock.json/
Frentwidlens/package-lock.json
