# Dossier virtuel d’environnement Python
venv/
__pycache__/
*.pyc

# Poids et fichiers lourds
*.pt

# Fichiers temporaires / logs
*.log
*.tmp

# Configuration IDE
.vscode/

# Fichiers système
.DS_Store
Thumbs.db
